@import 'reset';

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@font-face {
  font-family: "IBM Plex Sans";
  font-display: swap;
  font-weight: 400;
  src: local("IBM Plex SansRoboto"),
    url(/fonts/IBMPlexSans-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "IBM Plex Sans";
  font-weight: 600;
  font-display: swap;
  src: local("Roboto"), url(/fonts/IBMPlexSans-Bold.ttf) format("truetype");
}

body {
  font-family: "IBM Plex Sans";
  font-weight: 400;
  min-height: 100vh;
}

.route {
  padding: 48px 24px;
  min-height: calc(100vh - 246px); // viewport - header - footer - route padding
  background-color: #252525;
}